@media (max-width: 767px) {
  .activate-button-wrapper{
    min-width: 106px !important;
    padding: 0 !important;
  }
}
.activate-button-wrapper{
  min-width: 170px;
  margin-right: 60px;
  margin-top: 15px;
}
