@media (max-width: 767px) {
  .login-button-wrapper {
    min-width: 106px !important;
    padding: 0 !important;
  }
}
.login-button-wrapper {
  min-width: 170px;
  margin-right: 60px;
  margin-top: 15px;
  .btn {
    color: #a23b8a;
    padding: 5px 45px 10px 45px;
    border: 0.08em solid #a23b8a;
    margin-top: 15px;
  }
}
