.navigatorParentHome {
  background-color: transparent;
  padding: 0 !important;
  width: 55% !important;
  display: inline-block !important;
  text-align: center;
}
@media (max-width: 1120px) {
  .navigatorParentHome {
    width: 12% !important;
    .nav-item {
      padding: unset !important;
      max-height: unset !important;
      min-height: unset !important;
      width: unset !important;
    }
    .home_navbar_collapse {
      background: #ffb500;
      min-width: 160px;
      margin-top: 20px;
      border-radius: 5px;
    }
  }
}
.navigatorParentHome {
  margin-top: 10px;
  .navItem {
    padding: 12px 0;
    max-height: 64px;
    min-height: 64px;
    width: 7vw;
    text-align: center;
    .nav-link {
      min-width: 80px;
    }
  }
  .navItem a {
    color: #641d89 !important;
    font-weight: 600;
  }
  .navbar-nav a:hover,
  .navbar-nav a:active,
  .navbar-nav a:visited {
    background-color: #641d89 !important;
    text-decoration: none !important;
  }
  .navbar-nav a:hover a {
    color: white !important;
  }
  .footer-row {
    background: #641e89;
    color: white;
  }
}
