.activate-card-parent-wrapper .card{
  min-width: 300px;
  color: black;
  margin-top: 50px;
  width: 85%;
  .card-body{
    padding: 30px 24px 30px 30px;
  }
  .card-title h3{
    color: #641E89;
    font-family: 'Roboto', sans-serif;
  }
  .card-subtitle h6{
    opacity: 0.4;
  }
  form {
    .form-group:nth-of-type(1) {
      display: flex;
      padding: 25px 0 5px 0;
      .clicked {
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        background: #ffb500;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #641d89;
      }
      .notClicked {
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        background: #ffffff;
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 50%;
      }
      .account-radio-btn {
        font-size: 14px;
        width: 117%;
        display: flex;
        div {
          flex: 2;
        }
        label {
          flex: 10;
          margin-top: -3px;
        }
      }
      .debit-radio-btn {
        font-size: 14px;
        width: 100%;
        display: flex;
        div {
          flex: 2;
        }
        label {
          flex: 10;
          margin-left: 10px;
          margin-top: -3px;
        }
      }
    }
    .form-group:nth-of-type(2) {
      margin: 10px 0;
      input {
        height: 50px;
        width: 95%;
      }
    }
    .form-group:nth-of-type(3) {
      button {
        background: #ffb500;
        color: white;
        padding: 0 30px;
        height: 60px;
        margin: 20px 0 5px 0;
        width: 95%;
      }
    }
    > p {
      color: #a23b8a;
      display: inline-block;
    }
    > a{
      color: #a23b8a;
      transition: all 2s;
      text-decoration: none;
    }
    > a:hover{
      text-decoration: underline;
    }
  }
}

@media (max-width: 700px) {
  .activate-card-parent-wrapper .card{
    margin: 50px 20px !important;
  }
}
