@media (max-width: 767px) {
  .footer-col-1, .footer-col-2, .footer-col-3{
    text-align: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.2);
    padding-bottom: 20px;
  }
  .footer-col-2, .footer-col-3{
    padding-top: 30px;
  }
  .footer-col-3{
    border-bottom: unset;
    padding-bottom: unset;
  }

}
